{% load static %}



<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<main class="main-content">
			<div class="form-box">
				<form method="POST"> 
					{% csrf_token %}
					{{ form.as_p }}

					<button>Guardar</button>
				</form>
			</div>
			<div class="notes-box">
				{% for note in notes %}
				<section class="notes">
					<div>
						<h4>{{note.title}}</h4>
					</div>
					<div>
						<p>{{note.description}}</p>
					</div>
				</section>
				{% endfor %}
			</div>

		</main>
	</body>
	
</html>
