{% load static %}



<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<main class="main-content">
			<div class="form-box">
				<h3>Aca va el form</h3>
			</div>
			<div class="notes-box">
				<section class="notes">
					<div>
						<h4>Titulo de la nota</h4>
					</div>
					<div>
						<p>descripcion de la nota</p>
					</div>
				</section>
			</div>

		</main>
	</body>
	
</html>
